.project-card {
  background-color: var(--clr-bg-2);
  border-radius: 0.3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;

  // on hover zoom in on image
  &:hover {
    .project-card__image {
      transform: scale(0.95);
    }
  }

  &__title {
    color: var(--clr-text-1);
    font-size: 1.7rem;
    font-weight: 700;
  }

  &__description {
    color: var(--clr-text-2);
    font-size: 1rem;
    font-weight: 400;
  }

  &__image {
    height: 100%;
    object-fit: cover;
    transition: var(--transition-slow);
  }

  &__tags {
    align-items: center;
    display: flex;
    gap: 0.5rem;
  }

  &__tag {
    background-color: var(--clr-bg-1);
    border-radius: 0.2rem;
    font-size: 1rem;
    font-weight: 400;
    padding: 0.2rem 0.5rem;
  }
}
