.testimonials-section {
  display: flex;
  flex-direction: column;

  &__testimonials {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  }
}

// Media queries
@media screen and (max-width: 768px) {
  .testimonials-section {
    &__testimonials {
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
  }
}
