.services-section {
  display: flex;
  flex-direction: column;
  padding-bottom: 10rem;

  &__services {
    display: grid;
    grid-gap: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }
}

@media screen and (max-width: 768px) {
  .services-section {
    padding-bottom: 5rem;
    &__services {
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
  }
}
