:root {
  --navbar-height: 4.5rem;
  --footer-height: 4.5rem;

  --box-shadow-1: 4px 3px 9px 0px rgb(0 0 0 / 10%);
  --box-shadow-2: 12px 9px 38px 0px rgb(0 0 0 / 10%);

  --transition-slow: all 0.4s ease-in-out;
  --transition-base: all 0.3s ease-in-out;
  --transition-fast: all 0.2s ease-in-out;

  --clr-bg-0: hsl(0, 0%, 100%);
  --clr-bg-1: hsl(0, 0%, 100%);
  --clr-bg-2: hsl(0, 0%, 92%);
  --clr-bg-3: hsl(0, 0%, 20%);

  --clr-text-0: hsl(0, 0%, 100%);
  --clr-text-1: hsl(0, 0%, 23%);
  --clr-text-2: hsl(0, 0%, 52%);

  --gradient-1: linear-gradient(to right, #12c1e9, #c471ef, #f64f58);

  --clr-accent-1: #12c1e9;
}

.container-xl {
  margin: 0 auto;
  width: 1400px;
}

.container-lg {
  margin: 0 auto;
  width: 1200px;
}

.container-md {
  margin: 0 auto;
  width: 1000px;
}

@media (max-width: 1400px) {
  .container-xl {
    margin: 1rem;
    width: calc(100% - 2rem);
  }
}

@media (max-width: 1200px) {
  .container-lg {
    margin: 1rem;
    width: calc(100% - 2rem);
  }
}

@media (max-width: 1000px) {
  .container-md {
    margin: 1rem;
    width: calc(100% - 2rem);
  }
}

.button {
  border-radius: 1rem;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 500;
  color: var(--clr-text-1);
  padding: 0.5rem 3rem;
  box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
  border: solid 3px transparent;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)),
    var(--gradient-1);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px #fff inset;
  transition: var(--transition-fast);
  cursor: pointer;
  width: fit-content;

  &:hover {
    box-shadow: none;
    color: var(--clr-text-0);
  }
}
