/* Scrollbar */
/* Width */
::-webkit-scrollbar {
  width: 0.4rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--clr-bg-1);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--clr-bg-3);
  height: 2rem;
  transition: var(--transition-base);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: var(--clr-bg-3);
}
