.notification-modal {
  align-items: center;
  background-color: var(--clr-bg-1);
  border-left: 0.4rem solid var(--clr-accent-1);
  border-radius: 0.3rem;
  box-shadow: var(--box-shadow-1);
  display: flex;
  flex-direction: column;
  max-width: 24rem;
  padding: 1.5rem 2rem 2rem 2rem;
  position: relative;

  &__content {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__title {
    color: var(--clr-text-1);
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
    text-align: center;
  }

  &__description {
    color: var(--clr-text-2);
    font-size: 1.1rem;
    margin-bottom: 1rem;
    text-align: center;
  }

  &__button {
    background-color: var(--clr-accent-1);
    border: none;
    border-radius: 0.3rem;
    color: var(--clr-text-0);
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: 700;
    padding: 0.5rem 1rem;
    transition: var(--transition-fast);

    &:hover {
      background-color: var(--clr-accent-2);
    }
  }
}
