.project-gallery {
  align-items: center;
  display: flex;
  flex-direction: column;

  &__tabs {
    display: flex;
    margin-bottom: 20px;
  }

  &__tab {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 0.3rem 0.8rem;
    transition: var(--transition-fast);

    &:hover {
      background: var(--gradient-1);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    &--active {
      background: var(--gradient-1);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  &__projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    grid-gap: 2rem;
    max-width: 100%;
  }
}

//Media Queries
@media screen and (max-width: 768px) {
  .project-gallery {
    &__tab {
      font-size: 1rem;
    }
    &__projects {
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
  }
}
