.footer {
  background-color: var(--clr-bg-3);
  display: flex;
  flex-direction: column;
  height: var(--footer-height);

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    color: var(--clr-text-0);
  }

  &__socials {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}
