.testimonial-card {
  background-color: var(--clr-bg-2);
  border-radius: 0.2rem;
  display: flex;
  gap: 1rem;
  padding: 1rem;

  &__left-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
  }

  &__right-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex: 2;
    justify-content: center;
  }

  &__image-wrapper {
    background-clip: padding-box, border-box;
    background-image: linear-gradient(white, white), var(--gradient-1);
    background-origin: border-box;
    border-radius: 50%;
    border-radius: 50%;
    border: 0.2rem solid transparent;
    height: 7rem;
    object-fit: cover;
    overflow: hidden;
    width: 7rem;
  }

  &__image {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
  }

  &__name {
    color: var(--clr-text-1);
    font-size: 1.2rem;
    font-weight: 700;
  }

  &__title {
    color: var(--clr-text-2);
    font-size: 0.8rem;
    font-weight: 500;
  }

  &__description {
    color: var(--clr-text-1);
    font-size: 1rem;
    font-weight: 400;
  }
}

// Media Queries

@media screen and (max-width: 768px) {
  .testimonial-card {
    padding: 2rem 1rem;
    flex-direction: column;
    align-items: center;
    gap: 1.5;

    &__image-wrapper {
      margin-bottom: 1rem;
    }

    &__left-content {
      margin-bottom: 1rem;
    }

    &__right-content {
      text-align: center;
    }

    &__name {
      font-size: 1.5rem;
    }

    &__title {
      font-size: 1.1rem;
    }

    &__description {
      font-size: 1rem;
    }
  }
}
