.section-divider {
  background-image: var(--gradient-1);
  height: 0.15rem;
  position: absolute;

  &__wrapper {
    position: relative;
  }

  &--left {
    left: 0;
    width: 60%;
  }

  &--right {
    right: 0;
    width: 60%;
  }
}
